@model IEnumerable<TableTennisTracker.Models.Player>

@{
    ViewBag.Title = "NewGame";
}

<h2>NewGame</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <select>
                    @foreach (var item in Model)
                    {
                        <option value="item">@Html.DisplayFor(modelItem => item.Nickname)</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <select>
                    @foreach (var item in Model)
                    {
                        <option value="item">@Html.DisplayFor(modelItem => item.Nickname)</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="col-xs-12" align="center"><button type="submit">Play</button></div>
}